*{
    margin: 0px;
    padding: 0px;
}

.container{
    max-width: 300px;
    height: 450px;
    border-style: groove;
    border-radius: 20px;
    margin: auto;
}

.controls{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20%;   
}

#sound{
    display: flex;
    justify-content: center;
    margin-right: 15px;
    margin-top:10px;
}

#sound-icon{
    margin-right: 5px;
}
input{
   display:none;
}   

.bnt{
    width: 100%;
    padding-right: 5px;    
    
}

#Ctimer{
    display: flex;
}
#Atimer{
    display: flex;

}
 
.img{
     border-radius: 140px;
     width: 200px;
     margin-top: 35px;
     margin-left: 15%;
     
}

#positionTimer{
    display:flex;
}

#Ctimer{
    margin-left: 5%;
}

#Atimer{
    margin-left: 70%;
}

#audioBar{
    width: 90%;
    margin-left: 4%;

}
#pause{
    display: none;
}